* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.primary-color {
  color: #fd6e0a;
}
.btn-primary {
  height: 60px;
  background-color: #fd6e0a;
  font-size: 25px;
  font-style: normal;
  color: #fff;
  border: none;
  padding: 0px 35px;
  border-radius: 5px;
  font-weight: 600;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  height: 100vh;
}

/* Header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 385px 50px 200px;
}
nav h2 a {
  text-decoration: none;
  color: #000;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
  font-size: 25px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.primary-color {
  color: #fd6e0a;
}

/* Banner Styles */
.banner {
  display: flex;
  align-items: center;
  padding: 30px 40px 0 200px;
}
.banner-sub-title {
  font-size: 45px;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  font-style: normal;
}
.banner-description {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* Main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About section style */
.about {
  text-align: center;
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 155px;
}
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
}
.section-description {
  margin-bottom: 15px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}
